# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Java/Gradle
.gradle/
build/
.idea/
.project
.classpath
.settings/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.log